@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
:root{
    --background: #000000;
    --red: #c20000;
    --blue: #001f70;
    --gradiente: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    --font: 'Titillium Web', sans-serif;
}
body{
    font-family: var(--font);
    font-size: 16px;
    background-color: var(--background);
}
img{
    width: 100%;
}
.topo{
    width: 100%;
    height: 5em;
}
.content{
    width: 95%;
    height: 100%;
    max-width: 75em;
    margin: auto;
}
.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*topo menu*/
.topo img{
    max-width: 21.18em;
}
.menu{
    width: 100%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 0.9em 1em;
    text-transform: uppercase;
}
.menu a:hover{
    background-color: var(--red);
    transition: 0.3s;
}
#menu-bars{
    display: none;
}
/* Fim topo menu*/
/*banner*/
.banner{
    width: 100%;
    position: relative;
}
.banner-position{
    width: 100%;
    height: 37.5em;
    position: absolute;
    top: 0;
}
.banner-content{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.banner-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.banner-text h1{
    font-size: 5.62em;
}
.banner-text p{
    font-size: 1.87em;
}
.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}
/*fim banner*/
/*jogos*/
.jogos{
    width: 100%;
    height: 7.5em;
    padding-top: 0.93em;
    color: #ffffff;
}
.jogos ul{
    list-style-type: none;
}
.jogos ul a:hover img{
    transition: 0.5s;
    transform: scale(1.1);
}
/*Fim jogos*/
/*sobre*/
.about{
    width: 100%;
    height: 31.30em;
    background-color: var(--blue);
    position: relative;
}
.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.angulation{
    width: 100%;
    height: 25em;
    background-color: black;
    transform: skewY(-3deg);
}
.about-position{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.about-text{
    width: 50%;
    color: white;
}
.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
}
.about-text p{
    font-size: 1.125em;
    margin-bottom: 1em;
    text-align: justify;
}
.about-position img{
    max-width: 31.87em;
}
/*fim sobre*/
/*partidas*/
.jogos-aovivo, .jogos-embreve{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.575em;
    margin-bottom: 0.93em;
}
.jogos-aovivo h2, .jogos-embreve h2{
    font-size: 1.2em;
    text-transform: uppercase;
}
.linha{
    height: 4em;
    border: solid 1px #ffffff;
    margin: 0 1em;
}
.partidas{
    width: 9.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    margin-left: 1em;
}
.partidas img{
    max-width: 1.8em;
}
.time1, .time2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.time1 img{
    margin-left: 0.5em;
}
.time2 img{
    margin-right: 0.5em;
}
/*fim partidas*/
/*noticias*/
.noticias{
    width: 100%;
    height: 55.125em;
    background-color: #1E1C21;
}
.not-geral{
    width: 100%;
}
.titulo-not{
    width: 100%;
    font-size: 2em;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    align-items: flex-start;
}
.cards{
    width: 56.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
}
.bloco-noticia{
    width: 14.8125em;
    height: 22.875em;
    background-color: black;
    margin-right: 4em;
    margin-bottom: 2em;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
}
.bloco-noticia img{
    width: 14.81em;
    height: 9.93em;
    display: flex;
    border-radius: 0.5em;
}
.bloco-noticia h2{
    font-size: 1.125em;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    text-transform: uppercase;
}
.bloco-noticia p{
    color: white;
    margin-left: 0.625em;
    font-family: C;
    font-size: 1em;
    margin-top: 1.5em;
}
.not-lat{
    width: 14.81em;
    height: 46.93em;
    background-color: white;
    background-color: black;
    border-radius: 0.5em;
    padding-top: 0.1em;
    margin-top: 2.7em;
}
.partidas-lat{
    width: 100%;
    justify-content: space-around;
    margin-top: 3.25em;
    padding-right: 2em;
    padding-bottom: 3.25em;
}
.not-lat p{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 1.2em;
}
/*fim noticias*/
/*rodapé*/
footer{
    width: 100%;
    height: 13.125em;
    background-color: black;
}
.links{
    width: 33%;
    display: flex;
    justify-content: flex-start;
}
.links-uteis{
    padding-right: 2em;
}
.links h2{
    color: white;
    font-size: 1.5em;
    font-family: var(--font);
    padding-bottom: 1em;
}
.links a{
    text-decoration: none;
    color: white;
    font-size: 0.75em;
    padding: 0.9em 1em;
    text-transform: uppercase;
    font-family: var(--font);
}
.links a:hover{
    text-decoration: underline;
}
.logo-rodape{
    max-width: 33%;
    width: 33%em;
    height: 1.75em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sociais{
    width: 33%;
    color: #ffffff;
}
.newslatter h2{
    font-size: 0.875em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}
.newslatter form{
    display: flex;
}
.newslatter input[type="email"]{
    width: 12.5em;
    height: 2.5em;
    font-size: 1.1em;
    padding-left: 1em;
}
.newslatter input[type="email"]::placeholder{
    color: rgb(102, 102, 102);
    font-weight: bold;
}
.newslatter input[type="button"]{
    width: 9.75em;
    height: 2.5em;
    font-size: 1.1em;
    color: #ffffff;
    background-color: var(--red);
    text-transform: uppercase;
}
.siga-nos{
    padding-top: 1em;
}
/*fim rodape*/





/*responsivo*/
@media screen and (max-width: 88.7em){
    /*topo*/
    .topo img{
        max-width: 21.18em;
    }
    .menu{
        width: 100%;
        max-width: 50em;
    }
    .menu ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .menu a{
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        padding: 1.6em 0.5em;
        text-transform: uppercase;
    }
    #menu-bars{
        display: none;
    }
    /*fim topo*/
    /*Jogos*/
    .jogos img{
        margin-top: 0.5em;
        max-width: 10em;
    }
    /*fim jogos/*
    /*banner*/
    .banner-content{
        width: 80%;
        height: 75%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
    }
    .banner-text h1{
        font-size: 4em;
    }
    .banner-text p{
        font-size: 1.5em;
    }
    .banner-text a{
        font-size: 1.5em;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        background-color: var(--red);
        padding: 0.5em 1em;
        border-radius: 0.5em;
        margin-top: 1em;    
    }
    /*fim banner*/
    /*sobre*/
    .about-text{
        width: 50%;
        color: white;
    }
    .about-text h2{
        font-size: 1.7em;
        margin-bottom: 0.5em;
        color: var(--red);
        display: flex;
        justify-content: center;
    }
    .about-text p{
        font-size: 1em;
        margin-bottom: 1em;
        text-align: justify;
    }
    .about-position img{
        max-width: 25em;
        display: flex;
    }
    /*fim sobre*/
}
@media screen and (max-width:63.4em){
    /*topo*/
    .topo img{
        max-width: 21.18em;
    }
    .menu{
        width: 100%;
        max-width: 50em;
    }
    .menu ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .menu a{
        text-decoration: none;
        color: white;
        font-size: 1em;
        padding: 1.7em 1em;
        text-transform: uppercase;
    }
    #menu-bars{
        display: none;
    }
    /*fim topo*/
    /*Jogos*/
    .jogos img{
        margin-top: 0.7em;
        max-width: 8.5em;
    }
    /*fim jogos*/
    .banner-content{
        width: 80%;
        height: 64%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
    }
    .banner-text h1{
        font-size: 3em;
    }
    .banner-text p{
        font-size: 1em;
    }
    .banner-text a{
        font-size: 1em;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        background-color: var(--red);
        padding: 0.5em 1em;
        border-radius: 0.5em;
        margin-top: 1em;    
    }
    /*about*/
    .about-text{
        width: 50%;
        color: white;
    }
    .about-text h2{
        font-size: 1.7em;
        margin-bottom: 0.5em;
        color: blue;
        display: flex;
        justify-content: center;
    }
    .about-text p{
        font-size: 1em;
        margin-bottom: 1em;
        text-align: justify;
    }
    .about-position img{
        max-width: 20em;
        display: flex;
    }
    /*fim about*/
}
@media screen and (max-width: 47.93em){
    /*Jogos*/
    .jogos img{
        max-width: 7em;
    }
    /*fim jogos*/
    .banner-content{
        width: 80%;
        height: 54%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
    }
    .banner-text h1{
        font-size: 2.5em;
    }
    .banner-text p{
        font-size: 0.9em;
    }
    .banner-text a{
        font-size: 0.9em;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        background-color: var(--red);
        padding: 0.5em 1em;
        border-radius: 0.5em;
        margin-top: 1em;
    }
    /*about*/
    .about-text{
        width: 50%;
        color: white;
    }
    .about-text h2{
        font-size: 1em;
        margin-bottom: 0.5em;
        color: pink;
        display: flex;
        justify-content: center;
    }
    .about-text p{
        font-size: 1em;
        margin-bottom: 1em;
        text-align: justify;
    }
    .about-position img{
        max-width: 15em;
        display: flex;
    }
    /*fim about*/
}
@media screen and (max-width: 39.9em){
    /*Jogos*/
    .jogos img{
        margin-top: 1em;
        max-width: 6em;
    }
    /*fim jogos*/
    .banner-content{
        width: 80%;
        height: 50%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
    }
    .banner-text h1{
        font-size: 2em;
        display: flex;
        justify-content: center;
    }
    .banner-text p{
        font-size: 0.9em;
        text-align: justify;
        display: flex;
        flex-direction: column;
    }
    .banner-text a{
        font-size: 0.9em;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        background-color: var(--red);
        padding: 0.5em 1em;
        border-radius: 0.5em;
        margin-top: 1em;    
    }
    /*about*/
    .about-text{
        width: 100%;
        color: white;
    }
    .about-text h2{
        font-size: 1em;
        margin-bottom: 0.5em;
        color: blue;
        display: flex;
        justify-content: center;
    }
    .about-position{
        display: flex;
        flex-wrap: wrap;
    }
    .about-text p{
        font-size: 0.8em;
        margin-bottom: 1em;
    }
    .about-position img{
        max-width: 15em;
        display: flex;
        flex-direction: row;
    }
    /*fim about*/
}